body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

header {
  background: #111;
  color: white;
  padding: 20px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 30px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card span {
  color: green;
  font-weight: bold;
}

.produto-detalhe {
  max-width: 400px;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.produto-detalhe img {
  width: 100%;
  border-radius: 10px;
}

select, button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
}

button {
  background: green;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.sucesso {
  text-align: center;
  padding: 50px;
}
