body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f5f5f5;
}

header {
  background: #222;
  color: white;
  padding: 20px;
  text-align: center;
}

.produtos {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.produto {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
}

.produto img {
  width: 100%;
  border-radius: 10px;
}

.preco {
  font-size: 20px;
  color: green;
}

select, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}
